body{
    background-color: #eee;
}

#logo{
    height: 50px;
    width: 300px;
}

.top{
    background-image: linear-gradient(to right, #6D0D8D, #A20BAA);
    color: white;
}

.card-panel{
    color: black;
}

.img{
    margin-top: 100px;
    margin-bottom: 5px;
    margin-left: 5px;
    /* margin-top: 200px !important; */
    /* position: absolute;
    bottom: 10px;
    left: 10px; */
}